@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap%22");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  outline: none;

  &::first-letter {
    text-transform: uppercase;
  }
}

html {
  overflow-x: hidden;
}
