@import "./variabiles.scss";

html {
  background-image: url(/images/back.svg);
  background-attachment: fixed;
}

.components {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;

  div {
    margin: 50px;
    flex: 1;
  }

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
    width: 100vw;
    margin-right: 0;

    h1 {
      margin-top: 30px;
      font-size: 70px;
      font-weight: 800;
      line-height: 1;
      padding: 10px;
      color: $black-coffee;
      font-family: $font;
    }

    h3 {
      font-weight: 500;
      margin-top: 10px;
      font-family: $font;
      text-indent: 20px;
    }

    button {
      border: none;
      color: white;
      cursor: pointer;
      font-weight: bold;
      text-transform: uppercase;
      background: $red-salsa;
      border-radius: 20px;
      width: 150px;
      height: 50px;
      margin-top: 40px;
    }
  }

  .slider {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    .slider-cards {
      display: flex;
      flex-direction: row;
      position: relative;
      left: 0;
      transition: 0.4s ease-in;
    }

    .slider-card {
      background-color: white;
      overflow: hidden;
      border-radius: 30px;
      height: 267px;
      min-width: 200px;
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 20px;
      margin: 20px 40px 20px 0;
      position: relative;
      box-shadow: 0px 0px 20px -2px #3a2e39ff;

      h1 {
        position: absolute;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .buttons {
      display: flex;
      flex-direction: row;
      margin-top: 30px;
      justify-content: center;

      button {
        border: none;
        margin-right: 20px;
        height: 30px;
        width: 70px;
        border-radius: 10px;
        background-color: $red-salsa;
        color: white;
        cursor: pointer;
      }

      span {
        margin-left: 200px;
        margin-top: 10px;
        font-size: 20px;
        font-family: "Open Sans";
        font-weight: 700;
      }
    }
  }
}
.texte {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .section {
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 30px;
    position: relative;

    .left,
    .right {
      flex: 1;
      position: sticky;
      top: 80px;

      img {
        max-width: 600px;
        width: 40vw;
      }

      p {
        padding: 10px;
        font-size: 20px;
        font-family: $font;
        font-weight: 500;
        color: $black-coffee;
        line-height: 1.5;
      }
    }
  }
}

p {
  text-indent: 20px;
}

.aboutTxt {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    text-align: center;
    width: auto;
    font-size: 21px;
    color: $black-coffee;
    font-family: $font;
    padding: 10px;
  }
}

.all {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  .navbar-dash-container {
    z-index: 99;
    display: flex;
    // position: fixed;
    flex-direction: column;
    background-color: white;
    width: min-content;
    height: 100vh;
    align-items: center;
    text-align: center;

    ul {
      display: flex;
      flex-direction: column;

      a {
        color: $black-coffee;
        text-decoration: none;
      }

      li:not(:first-child):hover {
        color: #edb183ff;
        background-color: #3a2e39ff;
      }
    }
    li {
      list-style: none;
      padding: 20px;
      transition: 0.2s;
      cursor: pointer;
      img {
        width: 50px;
        height: 50px;
        border-radius: 90%;
        padding: 5px;
      }
    }
    .profile {
      display: flex;
      flex-direction: row;
      .user-email {
        display: flex;
        flex-direction: column;
        h5 {
          color: #1e555cff;
          padding-top: 5px;
          padding-left: 5px;
        }
      }
    }
  }

  .projects-container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    button {
      border: none;
      background-color: $dark-slate-gray;
      color: $champagne-pink;
      border-radius: 50px;
      padding: 8px 15px;
      cursor: pointer;
    }
    .check {
      width: auto;
      height: min-content;
      padding: 10px 10px;
      border-radius: 20px;
    }
    .add {
      width: 100%;
      padding: 14px;
    }
    #numeleProiectului {
      outline: none;
      border: none;
    }
    input {
      border: none;
      padding: 8px 15px;
    }
    #description {
      height: 100%;
      padding: 20px;
      border-radius: 10px;
      border: 2px $black-coffee solid;
      resize: none;
    }
    .add-project {
      display: flex;
      flex-direction: row;
      padding: 20px;

      h2 {
        font-size: 30px;
        text-align: center;
        color: $black-coffee;
        padding: 5px;
      }
      textarea {
        width: 100%;
        padding: 20px;
        font-size: 17px;
        color: $black-coffee;
        border-radius: 10px;
        min-height: 100px;
      }

      div {
        padding: 8px;
      }

      .user {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        .email-check {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          padding-bottom: 10px;
        }
      }
    }
    .between {
      width: 50%;
    }
  }

  .projects-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;

    .project {
      display: flex;
      flex-direction: column;
      border-left: 10px solid $dark-slate-gray;
      min-width: 350px;
      max-width: 500px;
      padding: 10px;
      margin: 20px 10px;
      border-radius: 0 30px 30px 0;
      background: #ffffffcc;
      ul {
        list-style: none;
      }
      li {
        padding: 5px;
        color: #999191;
        margin-left: 13px;
      }
      p {
        padding: 10px;
      }
      span {
        padding: 10px;
      }
      a {
        text-decoration: none;
        color: black;
        font-size: 18px;
        width: max-content;
        margin: 10px;
      }
      .description {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
      }
      .membri-lider {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
    }
  }
}

.project-containerr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  textarea {
    outline: none;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    border: 2px $black-coffee solid;
  }
  button {
    border: none;
    background-color: $dark-slate-gray;
    color: $champagne-pink;
    border-radius: 50px;
    padding: 8px 15px;
    margin: 10px;
    cursor: pointer;
  }
  input {
    border: none;
    padding: 8px 15px;
    border-radius: 6px;
    margin: 10px;
    border-bottom: 1px solid $black-coffee;
  }
  .email-btn {
    display: flex;
    flex-direction: row;
  }
  .user-checkk {
    display: flex;
    flex-direction: column;
  }
  .project-descriptionn {
    p {
      font-family: $font;
      padding: 30px;
      color: $black-coffee;
      font-size: 20px;
      text-align: left;
    }
    textarea {
      width: 100%;
      padding: 10px;
      font-size: 17px;
      color: $black-coffee;
      font-family: $font;
    }
  }
  h1 {
    font-size: 20px;
    color: $dark-slate-gray;
    text-align: center;
    padding: 10px;
  }
  h6 {
    text-align: center;
  }
  #addd {
    margin-bottom: 50px;
  }
  .email-btn {
    margin-top: 50px;
  }
  .taskk {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    img {
      height: 50px;
      width: 50px;
      border-radius: 90%;
    }
    h3 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.tasks-list-deadline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .project-displayed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    flex: 0 0 33.333333%;
    button {
      border: none;
      background: red;
      color: white;
      margin: 20px;
      padding: 8px 15px;
      border-radius: 10px;
    }
    .taskk {
      display: flex;
      flex-direction: row;
      h4 {
        margin-right: 5px;
      }
    }
  }
}

.meeting-add {
  display: flex;
  flex-direction: column;
  textarea {
    outline: none;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    border: 2px $black-coffee solid;
    resize: none;
  }
  .meeting-content {
    border: none;
    outline: none;
    padding-top: 10px;
    margin-top: 10px;
  }
  button {
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    height: 30px;
    background-color: $dark-slate-gray;
    color: $champagne-pink;
  }
  hr {
    margin-top: 30px;
  }
}

.register {
  margin-top: 100px;
  // margin-left: 270px;
}

// form {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   padding-top: 100px;
//   background-color: white;
//   width: 300px;
//   border-radius: 50px;
//   margin-left: 630px;
//   #pass-icon {
//     position: absolute;
//   }

//   .user-field {
//     #user-icon {
//       position: absolute;
//     }
//   }
//   .user-input {
//     border: none;
//     border-bottom: 2px solid #d1d1d4;
//     background: none;
//     padding: 5px;
//     padding-left: 24px;
//     font-weight: 700;
//     transition: 0.2s;
//     margin-bottom: 20px;
//     &:hover,
//     &:active,
//     &:focus {
//       outline: none;
//       border-bottom-color: #6a679e;
//     }
//   }
//   .email-input {
//     border: none;
//     border-bottom: 2px solid #d1d1d4;
//     background: none;
//     padding: 5px;
//     padding-left: 24px;
//     font-weight: 700;
//     transition: 0.2s;
//     margin-bottom: 20px;
//     &:hover,
//     &:active,
//     &:focus {
//       outline: none;
//       border-bottom-color: #6a679e;
//     }
//   }
//   .pass-input {
//     border: none;
//     border-bottom: 2px solid #d1d1d4;
//     background: none;
//     padding: 5px;
//     padding-left: 24px;
//     font-weight: 700;
//     transition: 0.2s;
//     margin-bottom: 20px;
//     &:hover,
//     &:active,
//     &:focus {
//       outline: none;
//       border-bottom-color: #6a679e;
//     }
//   }
//   label {
//     margin-top: 10px;
//   }
//   #login {
//     background: #fff;
//     font-size: 14px;
//     margin-top: 30px;
//     margin-bottom: 30px;
//     padding: 16px 20px;
//     border-radius: 26px;
//     border: 1px solid #d4d3e8;
//     text-transform: uppercase;
//     font-weight: 700;
//     display: flex;
//     align-items: center;
//     width: 100px;
//     color: #4c489d;
//     box-shadow: 0px 2px 2px #5c5696;
//     cursor: pointer;
//     transition: 0.2s;
//     &:active,
//     &:hover,
//     &:focus {
//       border-color: #6a679e;
//       outline: none;
//     }
//     margin-bottom: 10px;
//   }
//   #register {
//     background: #fff;
//     font-size: 14px;
//     margin-top: 30px;
//     margin-bottom: 30px;
//     padding: 16px 20px;
//     border-radius: 26px;
//     border: 1px solid #d4d3e8;
//     text-transform: uppercase;
//     font-weight: 700;
//     display: flex;
//     align-items: center;
//     width: 100px;
//     color: #4c489d;
//     box-shadow: 0px 2px 2px #5c5696;
//     cursor: pointer;
//     transition: 0.2s;
//     &:active,
//     &:hover,
//     &:focus {
//       border-color: #6a679e;
//       outline: none;
//     }
//   }
// }

.all2 {
  display: flex;
  flex-direction: column;
}

.all {
  .tasks-list-deadline {
    margin-left: 250px;
  }
  .meeting-container {
    .meeting-add {
      margin-left: 200px;
      margin-top: 100px;
    }
  }
  .projects-container {
    .between {
      margin-top: 50px;
    }
    .add-project {
      // transform: translateX(-30%);
      button {
        // transform: translateY(50%);
      }
      textarea {
        resize: none;
      }
      form {
        width: 250px;
      }
    }
  }
}

@media (max-width: 700px) {
  .components {
    .container {
      h1 {
        text-align: center;
        padding-left: 30px;
      }
      h3 {
        text-align: center;
        margin-left: 40px;
      }
      #text {
        text-align: center;
      }
    }
  }
}

.all2 {
  .aboutTxt {
    p {
      font-weight: bold;
      padding-top: 50px;
    }
  }
}

@media (max-width: 700px) {
  .all {
    display: flex;
    flex-direction: column;
    .add-project {
      display: flex;
      flex-direction: column;
    }
    .navbar-dash-container {
      height: min-content;
      width: min-content;
      display: flex;
      flex-direction: column;
      width: 100vw;
      
      li {
        display: none;
      }
      h3,
      h5 {
        display: none;
      }
    }
  }
}

textarea {
  width: 100%;
  padding: 10px;
  font-size: 17px;
  color: $black-coffee;
  font-family: $font;
  border: none;
}

select {
  width: 100%;
  padding: 10px;
  font-size: 17px;
  color: $black-coffee;
  font-family: $font;
  border: none;
}
input[type="datetime-local"] {
  width: 100%;
  margin: 0;
}

#checkk {
  text-align: center;
  align-self: center;
}

.h2 {
  font-size: 20px;
  color: $dark-slate-gray;
  text-align: center;
  padding: 10px;
}

.task-descriptionn {
  textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 17px;
    color: $black-coffee;
    font-family: $font;
    border: none;
    margin: 5px 0;
  }
}

.task-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .task {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    border: 2px solid $red-salsa;
    margin: 20px 0;

    .taskk {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 0;

      div {
        margin: 10px 0;
      }

      .top {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
      }

      .down {
        height: auto;
        display: flex;
        width: auto;
        justify-content: space-around;
        align-items: center;

        h3 {
          font-size: 20px;
          font-family: $font;
          color: $dark-slate-gray;
        }
        svg {
          position: relative;
          cursor: pointer;
        }
      }
    }
    p {
      font-size: 18px;
      color: $black-coffee;
      font-family: $font;
      padding: 0 10px;
    }
    .rating {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 10px 0;
    }

    .nota {
      background: $red-salsa;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
    }
  }
}

.deadlines {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .deadline {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    border: 2px solid $red-salsa;
    margin: 20px 0;

    h1 {
      padding: 5px;
      color: $black-coffee;
      font-size: 25px;
      font-family: $font;
    }
    h2 {
      padding: 5px;
      color: $black-coffee;
      font-size: 20px;
      font-family: $font;
    }
    p {
      padding: 5px;
      color: $black-coffee;
      font-size: 18px;
      font-family: $font;
    }
  }
}

.meetings {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .meeting-add {
    margin-top: 50px;

    form {
      display: flex;
      flex-direction: column;
      textarea {
        margin: 0 !important;
      }
      input,
      select {
        width: 100%;
        padding: 10px;
        font-size: 20px;
        color: $black-coffee;
        font-size: 18px;
        font-family: $font;
      }
    }
  }

  .meeting-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .meeting {
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 10px;
      border: 2px solid $red-salsa;
      margin: 20px 0;

      h3 {
        padding: 5px;
        color: $black-coffee;
        font-size: 25px;
        font-family: $font;
      }
      h4 {
        padding: 5px;
        color: $black-coffee;
        font-size: 20px;
        font-family: $font;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .navbar {
    ul .logo {
      display: none;
    }
  }
}

@media screen and (max-width: 750px) {
  .texte {
    .section {
      flex-direction: column;
      align-items: center;

      .left,
      .right {
        top: 0;
        width: 100%;
        position: relative;
        min-height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        img {
          width: 100%;
          object-fit: contain;
        }
      }
    }
  }
  .components {
    flex-direction: column;

    .container {
      margin: 0;
      padding-bottom: 0;

      h1 {
        font-size: 40px;
      }
    }

    .slider {
      width: 100vw;
    }
  }
}
.show{
  display: block !important;
}