@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
$font: "Open Sans", sans-serif;

$black-coffee: #3a2e39ff;
$dark-slate-gray: #1e555cff;
$champagne-pink: #f4d8cdff;
$middle-yellow-red: #edb183ff;
$red-salsa: #f15152ff;

html {
  background-image: url(/images/back.svg);
  background-attachment: fixed;
}

.components {
  display: flex;
  // background-image: url(/images/back.svg);
  min-height: 100vh;
  flex-direction: row;
  // flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;

  div {
    margin: 50px;
    flex: 1;
  }

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
    width: max-content;
    margin-right: 0;

    h1 {
      margin-top: 30px;
      font-size: 70px;
      font-weight: 800;
      line-height: 1;
      padding: 10px;
      color: $black-coffee;
      font-family: $font;
    }

    h3 {
      font-weight: 500;
      margin-top: 10px;
      font-family: $font;
      text-indent: 20px;
    }

    button {
      border: none;
      color: white;
      cursor: pointer;
      font-weight: bold;
      text-transform: uppercase;
      background: $red-salsa;
      border-radius: 20px;
      width: 150px;
      height: 50px;
      margin-top: 40px;
    }
  }

  .slider {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    .slider-cards {
      display: flex;
      flex-direction: row;
      position: relative;
      left: 0;
      transition: 0.4s ease-in;
    }

    .slider-card {
      background-color: white;
      overflow: hidden;
      border-radius: 30px;
      height: 267px;
      min-width: 200px;
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 20px;
      margin: 20px 40px 20px 0;
      position: relative;
      box-shadow: 0px 0px 20px -2px #3a2e39ff;

      h1 {
        position: absolute;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .buttons {
      display: flex;
      flex-direction: row;
      margin-top: 30px;
      justify-content: center;

      button {
        border: none;
        margin-right: 20px;
        height: 30px;
        width: 70px;
        border-radius: 10px;
        background-color: $red-salsa;
        color: white;
        cursor: pointer;
      }

      span {
        margin-left: 200px;
        margin-top: 10px;
        font-size: 20px;
        font-family: "Open Sans";
        font-weight: 700;
      }
    }
  }
}
.texte {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .section {
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 30px;
    position: relative;

    .left,
    .right {
      flex: 1;
      position: sticky;
      top: 80px;

      img {
        max-width: 600px;
        width: 40vw;
      }

      p {
        padding: 10px;
        font-size: 20px;
        font-family: $font;
        font-weight: 500;
        color: $black-coffee;
        line-height: 1.5;
      }
    }
  }
}

p {
  text-indent: 20px;
}

.aboutTxt {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    text-align: center;
    width: auto;
    font-size: 21px;
    color: $black-coffee;
    font-family: $font;
    padding: 10px;
  }
}

.all {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  .navbar-dash-container {
    z-index: 99;
    display: flex;
    position: fixed;
    flex-direction: column;
    background-color: white;
    width: min-content;
    height: 100vh;
    align-items: center;
    text-align: center;

    ul {
      display: flex;
      flex-direction: column;

      a {
        color: $black-coffee;
        text-decoration: none;
      }

      li:not(:first-child):hover {
        color: #edb183ff;
        background-color: #3a2e39ff;
      }

      //   li:nth-child(2):hover a {
      //     color: #edb183ff;
      //     background-color: #3a2e39ff;
      //   }
      //   li:nth-child(3):hover {
      //     color: #edb183ff;
      //     background-color: #3a2e39ff;
      //   }
      //   li:nth-child(4):hover {
      //     color: #edb183ff;
      //     background-color: #3a2e39ff;
      //   }
    }
    li {
      list-style: none;
      padding: 20px;
      transition: 0.2s;
      cursor: pointer;
      img {
        width: 50px;
        height: 50px;
        border-radius: 90%;
        padding: 5px;
      }
    }
    .profile {
      display: flex;
      flex-direction: row;
      .user-email {
        display: flex;
        flex-direction: column;
        h5 {
          color: #1e555cff;
          padding-top: 5px;
          padding-left: 5px;
        }
      }
    }
  }

  .projects-container {
    padding-left: 230px;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
      border: none;
      background-color: $dark-slate-gray;
      color: $champagne-pink;
      border-radius: 50px;
      padding: 8px 15px;
      cursor: pointer;
    }
    .check {
      width: auto;
      height: min-content;
      padding: 10px 10px;
      border-radius: 20px;
    }
    .add {
      width: 100%;
      padding: 14px;
    }
    input {
      border: none;
      padding: 8px 15px;
    }
    #description {
      height: 100%;
      padding: 20px;
      border-radius: 10px;
      border: 2px $black-coffee solid;
      resize: none;
    }
    .add-project {
      display: flex;
      flex-direction: row;
      height: 200px;
      padding: 20px;

      div {
        padding: 10px;
      }

      .user {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        .email-check {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
        }
      }
    }
    .between {
      width: 50%;
    }
  }

  .projects-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;

    .project {
      display: flex;
      flex-direction: column;
      border-left: 10px solid $dark-slate-gray;
      min-width: 350px;
      max-width: 500px;
      margin: 20px 10px;
      border-radius: 0 30px 30px 0;
      background: #ffffffcc;
      ul {
        list-style: none;
      }
      li {
        padding: 5px;
        color: #999191;
        margin-left: 13px;
      }
      p {
        padding: 10px;
      }
      span {
        padding: 10px;
      }
      a {
        text-decoration: none;
        color: black;
        font-size: 18px;
        width: max-content;
        margin: 10px;
      }
      .description {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
      }
      .membri-lider {
        display: flex;
        flex-direction: row;
      }
    }
  }
}

.project-containerr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(150%);
  hr {
    width: 75%;
  }
  textarea {
    outline: none;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    border: 2px $black-coffee solid;
  }
  button {
    border: none;
    background-color: $dark-slate-gray;
    color: $champagne-pink;
    border-radius: 50px;
    padding: 8px 15px;
    margin: 10px;
    cursor: pointer;
  }
  input {
    border: none;
    padding: 8px 15px;
    border-radius: 6px;
    margin: 10px;
    border-bottom: 1px solid $black-coffee;
  }
  .email-btn {
    display: flex;
    flex-direction: row;
  }
  .user-checkk {
    display: flex;
    flex-direction: column;
  }
  .project-descriptionn {
    padding: 30px;
  }
  h6 {
    text-align: center;
  }
  #addd {
    margin-bottom: 50px;
  }
  .email-btn {
    margin-top: 50px;
  }
  .taskk {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    img {
      height: 50px;
      width: 50px;
      border-radius: 90%;
    }
    h3 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.tasks-list-deadline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .project-displayed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    flex: 0 0 33.333333%;
    button {
      border: none;
      background: red;
      color: white;
      margin: 20px;
      padding: 8px 15px;
      border-radius: 10px;
    }
    .taskk {
      display: flex;
      flex-direction: row;
      h4 {
        margin-right: 5px;
      }
    }
  }
}

.meeting-add {
  display: flex;
  flex-direction: column;
  transform: translateX(280%);
  textarea {
    outline: none;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    border: 2px $black-coffee solid;
    resize: none;
  }
  .meeting-content {
    border: none;
    outline: none;
    padding-top: 10px;
    margin-top: 10px;
  }
  button {
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    height: 30px;
    background-color: $dark-slate-gray;
    color: $champagne-pink;
  }
  hr {
    margin-top: 30px;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 150px;
  .user-input {
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    padding: 10px;
  }
  .email-input {
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    padding: 10px;
  }
  .pass-input {
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    padding: 10px;
  }
  label {
    margin-top: 10px;
  }
  #login {
    border: none;
    cursor: pointer;
    background-color: $dark-slate-gray;
    color: $champagne-pink;
    border-radius: 50px;
    width: 160px;
    height: 30px;
  }
  #register {
    border: none;
    cursor: pointer;
    background-color: $dark-slate-gray;
    color: $champagne-pink;
    border-radius: 50px;
    width: 160px;
    height: 30px;
    margin-top: 20px;
  }
}

.all2 {
  display: flex;
  flex-direction: column;
}
