@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
$font: "Open Sans", sans-serif;

$black-coffee: #3a2e39ff;
$dark-slate-gray: #1e555cff;
$champagne-pink: #f4d8cdff;
$middle-yellow-red: #edb183ff;
$red-salsa: #f15152ff;